# General
.DS_Store
Thumbs.db

# IDE/Editor specific
*.suo 
*.user 
*.sln 
*.csproj.user
*.vspscc 
*.scc 
.vs 
.idea 

# Build/dist
build/
dist/

# Log files
*.log
*.err

# Temporary files
*.tmp
*.swp

# Node.js
node_modules/
npm-debug.log

# Environment variables
.env 
.env.* 

# Cache files
.cache
.cache-checkdevices

# Editor preferences
*.sublime-workspace 
*.sublime-project 

.gitignore

app/__pycache__/